parameters:
    level: 5
    checkMissingIterableValueType: false
    scanDirectories:
        - vendor/silverstripe/framework
        - vendor/phpunit
        - src
    paths:
        - src
        - tests
includes:
    - vendor/symbiote/silverstripe-phpstan/phpstan.neon
